@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

body {
    height: 100vh; width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; padding: 0;
}

h1{
    background: linear-gradient(90deg, Red, blue);
    color: transparent;
    background-clip: text;
    scale: 1.2;
    letter-spacing: +2px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
}
.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
    gap: 30px;
}
#text-field{
    background-color: #ccffff;
    width: 80%;
    font-size: 18px;
    padding-left: 1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 20px;
}
#generate-button{
    text-align: center;
    width: 10%;
    padding: 1%;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    scale: 1.2;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);;
}
#generate-button:hover{
    color: white;
}
#audio-player{
    display: none;
}
#result-message{
    margin-top: 1%;
}
.audio-player-interface{
    display: flex;
    padding: 1%;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 20%;
    border-radius: 30px;
    background: linear-gradient(to right, hsl(270, 84%, 60%) 0%, hsl(273, 54%, 45%) 100%);
}
.actionButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    gap: 20px;
    margin-top: auto;
    margin-bottom: 4%;
}

.progress-bar{
    justify-self: center;
    margin-top: 30px;
    width: 100%;
    height: 5px;
    background-color: white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 5px;

}
.progress-bar::after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px 0px 0px 5px;
    width: var(--progress, 0%);
    transition: width 0.3s ease;
    background-color: black;
}
#pauseButton, #downloadButton{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    background-color: white;
    color: red;
}

#pauseButton:hover, #downloadButton:hover{
    background: linear-gradient(to right, hsl(270, 84%, 80%) 0%, hsl(273, 54%, 65%) 100%);
    color: white;
}

#text-field:hover{
    background-color: #ccfffc;
}